<h1>Laptops!</h1>

<!-- cart -->
<md-icon class="material-icons" ng-style="{color: 'grey'}" ng-click='showCart()'>shopping_cart</md-icon><span >({{cart.length}})</span><span>Total:{{total}}</span>

<!-- search and filter -->
<input type="text" ng-model="search" placeholder="search by keyword">
Order By:
<select ng-model="type">
	<option value='regularPrice'>Price</option>
	<option value='customerReviewAverage'>Rating</option> 
</select>

<!-- cards for product display -->
<md-card ng-repeat ='product in products | filter: search | orderBy: type' md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}"  class='slide'>
	<md-card-title>
		<md-card-title-media>
			<img ng-src="{{product.thumbnailImage}}">
		</md-card-title-media>
		<md-card-title-text>
			<span  class= 'md-healine' ng-click= "viewProduct(product.sku)" >{{product.name}}</span>
			<span class="md-subhead description" ng-if= !product.onSale>{{product.regularPrice}}</span>
			<span class="md-subhead description" ng-if= product.onSale><strike>	{{product.regularPrice}}</strike> on sale for {{product.salePrice}}</span>
			<span class="md-subhead description">Rating: {{product.customerReviewAverage}}/5
			</span>
		</md-card-title-text>
	<md-card-title>
	<md-card-actions>
		<md-button class="md-raised" ng-if="cartSkus.includes(product.sku)" ng-click="removeFromCart(product)">Remove From Cart</md-button>
	</md-card-actions>
</md-card>


	